<h1 md-dialog-title>Dialog</h1>
<div md-dialog-content>
  <md-card>
    <app-tmdb-search (onItemSelected)="onItemSelected($event)"></app-tmdb-search>
  </md-card>
  <div [sortablejs]="shows" [sortablejsOptions]="{ animation: 150, ghostClass: 'ghost' }">
    <div *ngFor="let show of shows" style="display: inline-block;">
      <img src="https://image.tmdb.org/t/p/w150{{show.poster_path}}" alt="">
    </div>
  </div>
</div>
<div md-dialog-actions>
  <button md-button md-dialog-close="Option 1">Option 1</button>
  <button md-button md-dialog-close="Option 2">Option 2</button>
</div>