<!-- <md-card>
    <md-input-container>
        <input mdInput placeholder="State" [mdAutocomplete]="auto" [formControl]="stateCtrl">
    </md-input-container>
    <md-autocomplete #auto="mdAutocomplete">
        <md-option *ngFor="let show of filteredStates | async" [value]="show.name">
            {{ show.name }}
        </md-option>
    </md-autocomplete>
</md-card>
<md-grid-list cols="2" rowHeight="2:1">
    <md-grid-tile>
        <p>1</p>
    </md-grid-tile>
    <md-grid-tile>
        <div>2</div>
    </md-grid-tile>
    <md-grid-tile>
        <md-card>3</md-card>
    </md-grid-tile>
    <md-grid-tile>4</md-grid-tile>
</md-grid-list> -->
<md-toolbar color="primary">
    <span style="cursor: pointer;" routerLink="/">Lists</span>
    <span class="spacer"></span>
    <a md-button routerLink="/yourlists">Your Lists</a>
</md-toolbar>
<router-outlet></router-outlet>
